<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include('./partials/nav') %>
    <h1><%= catName %></h1>
    <% menuItems.forEach(e => { %>
        <h4><%= e.name %></h4>
        <p>Price: <%= e.price %></p>
        <p>Rating: <%= e.rating %></p>
        <p><%= e.details %></p>
    <% }); %>
  </body>
</html>
